*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: arial, ;
    font-size: 16px;
    background: #4a465b;
}

.contenedor{
    width: 96%;
    max-width: 1000px;
    margin: 20px auto; /* 20px margen arriba y abajo.  */
    overflow: hidden; /* ocultar elementos que se desbordan */
}
header{
    background: #ffffff;

}
header nav{
    width: 100%;
}
header nav ul{
    list-style: none;
    overflow: hidden;
}
header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    padding: 15px 20px;
}

header nav ul li a:hover{
    background: #000000;
    color: white;
}
.main{
    float: left;
    width: 70%;
    background: #ffffff;
}
.main .imagen{
    width: 100%;

}
.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .posts{
    padding: 40px;
    
}
.main .posts article h2{
    margin-bottom: 20px;
    color: #424242;

}
.main .posts article p{
    margin-bottom: 15px;
    line-height: 27px;
}

aside{
    width: 30%;
    float: left;
    background: #161f26;
    padding: 20px;
    color: #ffffff;
}
aside .widget{
    margin-bottom: 20px;

}
aside .widget .titulo{
    color: #ff8000;
    border-bottom: 1px solid #ffffff;
}

aside .widget ul{
    list-style: none;
}
aside .widget ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}
aside .widget ul li a{
    color: #ffffff;
    text-decoration: none;
    
}
aside .widget ul li a:hover{
    color: #8f8f8f;
}

aside .widget p{
    margin-bottom: 15px;
    line-height: 27px;
}

footer{
    overflow: hidden;
    width: 70%;
    text-align: center;
    background: #000000;
    color: #ffffff;
    padding: 15px 0;
}